---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontakt</Fragment>
      <Fragment slot="desc">Wir helfen dir gern.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Bahnfinder-Team kontaktieren.</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Du hast Ideen zur Verbesserung, einen Fehler gefunden oder Lust auf einen Talk mit uns?
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:bahnfinder@gmail.com"
              >support@bahnfinder.app</a
              >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
