---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Abfahrten.",
    description:
      "Mit nur wenigen Klicks kannst du die aktuellen Abfahrtszeiten deiner Haltestelle abrufen. Und keine Sorge, die App verrät dir auch, wenn der Bus mal wieder im Stau steckt oder die Bahn verspätet ist.",
    icon: "features/abfahrten",
  },
  {
    title: "Verbindungen.",
    description:
      "Die benutzerfreundliche Oberfläche macht es zum Kinderspiel, die perfekte Verbindung in der App zu finden. Damit kommst du mühelos von A nach B – und das völlig stressfrei!",
    icon: "features/verbindungen",
  },
  {
    title: "Fahrtverlauf.",
    description:
      "Bahnfahren leicht gemacht. Den Verlauf einer Linie (egal, ob Bus, Bahn, S-Bahn, U-Bahn, Tram, Fähre oder sogar Seilbahn) samt der Zeiten zu checken, wird mit Bahnfinder zum absoluten Vergnügen.",
    icon: "features/fahrtverlauf",
  },
  {
    title: "Intuitive Suche.",
    description:
      "Wer suchet, der findet – und wer draufklickt, verbindet! Die intuitive Suche macht es Dir leicht, egal wonach du suchst. Einfach, schnell und effizient.",
    icon: "features/suche",
  },
  {
    title: "Schick & Benutzerfreundlich.",
    description:
      "Nicht nur das iOS-native Design lässt dich nicht mehr aus dem Staunen, sondern auch die Benutzerfreundlichkeit der App. Sie ist so einfach und zugleich so powervoll wie nur möglich gestaltet.",
    icon: "features/benutzerfreundlich",
  },
  {
    title: "Und vieles mehr.",
    description:
      "Mit Funktionen wie Haltestellen vorlesen, Automatisch folgen oder Erinnerungen ist Bahnfinder jetzt noch vielseitiger!",
    icon: "features/more",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Alles, was Du auf Deinem Weg benötigst.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Bahnfinder begleitet Dich mit seinen smarten Funktionen auf Schritt und Tritt. Ob die optimale Verbindungssuche oder die Anzeige der nächsten Abfahrten an Deiner Haltestelle – mit Bahnfinder bist Du immer einen Schritt voraus.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white colour-white fill-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
