---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Mit den meisten Verkehrsgesellschaften</h2>
  <div class="flex gap-4 md:gap-4 items-center justify-center mt-6 flex-wrap">
    <Icon class="h-8 md:h-12" name="logos/icon_DB" />
    <Icon class="h-8 md:h-12" name="logos/icon_AVV" />
    <Icon class="h-8 md:h-12" name="logos/icon_KVV" />
    <Icon class="h-8 md:h-12" name="logos/icon_MVV" />
    <Icon class="h-8 md:h-12" name="logos/icon_VBN" />
    <Icon class="h-8 md:h-12" name="logos/icon_VGN" />
    <Icon class="h-8 md:h-12" name="logos/icon_VVO" />
    <Icon class="h-8 md:h-12" name="logos/icon_HVV" />
    <Icon class="h-8 md:h-12" name="logos/icon_Railteam" />
    <Icon class="h-8 md:h-12" name="logos/icon_BVG" />
  </div>
</div>
